pipelines/pipeline/P6_copydata_last_24hrs.json
{
	"name": "P6_copydata_last_24hrs",
	"properties": {
		"description": "copying data of which are modified in last 24hrs",
		"activities": [
			{
				"name": "Get Metadata_folder_level",
				"description": "get the folder names in the blob",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Ds_getmetadata_folder_P6",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata_folder_level",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata_folder_level').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata for files",
							"description": "to get the metadata of files ",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Ds_getmetadata_file_level_P6",
									"type": "DatasetReference",
									"parameters": {
										"Ds_param_src_foldername": "contacts-data",
										"Ds_param_src_filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition",
							"description": "if condition to check the lastupdated time",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata for files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greaterOrEquals(\n    activity('Get Metadata for files').output.lastModified,\n    addHours(utcNow(), -48)\n)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data if true",
										"description": "copy the data if last modified condition is true",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_blob_copydata_lastmodified_P6",
												"type": "DatasetReference",
												"parameters": {
													"Ds_param_src_foldername": "contacts-data",
													"Ds_param_src_filename": {
														"value": "@activity('Get Metadata for files').output.itemName",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_datalake_copydata_lastmodified_P6",
												"type": "DatasetReference",
												"parameters": {
													"Ds_param_sink_foldername": "last-modfied-data"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-02-13T01:49:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}