Indian-Railways/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Indian-Railways"
		},
		"LS_Azure_Sql_Database_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_Azure_Sql_Database'"
		},
		"LS_Blob_new_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_Blob_new'"
		},
		"Ls_Blob_indian_railways_dynamic_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Ls_Blob_indian_railways_dynamic'",
			"defaultValue": "DefaultEndpointsProtocol=https;AccountName=@{linkedService().Blob_Name};EndpointSuffix=core.windows.net;"
		},
		"Ls_blob_indian_railways_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Ls_blob_indian_railways'"
		},
		"datalake_indian_railways_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'datalake_indian_railways'"
		},
		"LS_Sql_server_on_prem_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_Sql_server_on_prem'"
		},
		"LS_Azure_Sql_Database_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlserver0911.database.windows.net"
		},
		"LS_Azure_Sql_Database_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "indian-railways"
		},
		"LS_Azure_Sql_Database_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "chandra"
		},
		"Ls_Datalake_indian_railways_dynamic_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().Datalake_URL}"
		},
		"Ls_india_railways_KeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://Indian-railways-keyvault.vault.azure.net/"
		},
		"datalake_indian_railways_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://datalakeindianrailways.dfs.core.windows.net/"
		},
		"Event_trigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/90a98c4c-9b75-4066-b635-bfaed585300a/resourceGroups/Indian_railways_resource_group/providers/Microsoft.Storage/storageAccounts/blobindiarrailways"
		},
		"tumbling trigger_properties_pipeline_parameters_PL_Startdate": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowstarttime"
		},
		"tumbling trigger_properties_pipeline_parameters_PL_Enddate": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndtime"
		},
		"LS_Sql_server_on_prem_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": ".\\DATA_ENGINEER_09"
		},
		"LS_Sql_server_on_prem_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "school"
		},
		"LS_Sql_server_on_prem_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "newuser"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/P10_tumbling_trigger_coy_sql_blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "copying the backfill data from sql to blob using tumbling window trigger",
				"activities": [
					{
						"name": "Copy data sql to blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[part_details]",
								"storedProcedureParameters": {
									"enddate": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.PL_Enddate",
											"type": "Expression"
										}
									},
									"startdate": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.PL_Startdate",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Azure_sql_P10",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Blob_Tumbling_trigger_P10",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"PL_Startdate": {
						"type": "string"
					},
					"PL_Enddate": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-02T01:57:34Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Azure_sql_P10')]",
				"[concat(variables('factoryId'), '/datasets/DS_Blob_Tumbling_trigger_P10')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/P11_copydata_filter_shorting')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "copying data from sql to blob by applying filter and shorting with dataflow",
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "filter_shorting",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-02T04:24:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/filter_shorting')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/P12_Dataflow_joining_datasets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "copying the data of datasets by joining them with dataflow.",
				"activities": [
					{
						"name": "Joining Data flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Joining dataflow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"empdata": {},
									"Deptdata": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-02T10:08:38Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Joining dataflow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/P13_dataflow_union_datasets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "storing the data by using union for two datasets.",
				"activities": [
					{
						"name": "union dataflow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "union dataflow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"vskpdata": {},
									"blrdata": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-02T10:39:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/union dataflow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/P14_dataflow_derived_transformation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "store the data by applying derived transformation using dataflow.",
				"activities": [
					{
						"name": "Data flow derived",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "derived dataflow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-02T12:03:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/derived dataflow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/P15_aggregate_trasformation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "transforming the data by applying the aggregations",
				"activities": [
					{
						"name": "dataflow aggregate",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow aggregate",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-02T12:38:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow aggregate')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/P1_copydata_blob-to-datalake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copying data from blob to datalake",
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Ds_blob_copydata_P1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Ds_datalake_copydata_P1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-08T03:07:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Ds_blob_copydata_P1')]",
				"[concat(variables('factoryId'), '/datasets/Ds_datalake_copydata_P1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/P2_copydata_dynamically')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copying data from blob to datalake dynamically",
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Ds_blob_copydata_dynamically_P2",
								"type": "DatasetReference",
								"parameters": {
									"Ds_Param_Folder_Name": {
										"value": "@pipeline().parameters.PL_Param_Folder_Name",
										"type": "Expression"
									},
									"Ds_Param_File_Name": {
										"value": "@pipeline().parameters.PL_Param_File_Name",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Ds_datalake_copydata_dynamically_P2",
								"type": "DatasetReference",
								"parameters": {
									"Ds_DL_Param_Folder_Name": "newfolder2",
									"Ds_DL_Param_File_Name": "trains.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"PL_Param_Folder_Name": {
						"type": "string",
						"defaultValue": "railways-data"
					},
					"PL_Param_File_Name": {
						"type": "string",
						"defaultValue": "Train count.csv"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-09T04:59:41Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Ds_blob_copydata_dynamically_P2')]",
				"[concat(variables('factoryId'), '/datasets/Ds_datalake_copydata_dynamically_P2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/P3_copydata_adding_timestamp_at_sink')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copying the data from blob to datalake and adding timestamp to the file at sink.",
				"activities": [
					{
						"name": "Adding-timestamp",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Ds_copydata_blob_timestamp_P3",
								"type": "DatasetReference",
								"parameters": {
									"Ds_src_param_Foldername": "train-mfg",
									"Ds_src_param_Filename": "Zone details.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Ds_copydata_datalake_timestamp_P3",
								"type": "DatasetReference",
								"parameters": {
									"Ds_DL_param_Foldername": "mfg-details",
									"Ds_DL_param_Filename": "Zone-Details",
									"Ds_DL_param_File_Extension": ".csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-09T11:00:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Ds_copydata_blob_timestamp_P3')]",
				"[concat(variables('factoryId'), '/datasets/Ds_copydata_datalake_timestamp_P3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/P4_copydata_dynamic_LS_DS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copying data using linked service and dataset dynamically",
				"activities": [
					{
						"name": "Copy data dynamic",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Ds_blob_copydata_dynamic_P4",
								"type": "DatasetReference",
								"parameters": {
									"Ds_param_src_foldername": "train-data-new"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Ds_DL_copydata_dynamic",
								"type": "DatasetReference",
								"parameters": {
									"Ds_sink_param_foldername": "train-data-new",
									"Ds_sink_param_filename": "train-details.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-10T13:33:02Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Ds_blob_copydata_dynamic_P4')]",
				"[concat(variables('factoryId'), '/datasets/Ds_DL_copydata_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/P5_Get_Metadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Get metadata activity",
				"activities": [
					{
						"name": "Get Metadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_blob_get_metadata_P5",
								"type": "DatasetReference",
								"parameters": {
									"src_foldername": "contacts-data"
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If Condition",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Get Metadata').output.exists",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Copy data if file exists",
									"description": "will copy the data if files exists in the dataset",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_blob_get_metadata_P5",
											"type": "DatasetReference",
											"parameters": {
												"src_foldername": "contacts-data"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Ds_datalake_get_metadata_P5",
											"type": "DatasetReference",
											"parameters": {
												"Ds_sink_foldername": "contacts-data"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"False": {
						"type": "Boolean"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-12T04:11:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_blob_get_metadata_P5')]",
				"[concat(variables('factoryId'), '/datasets/Ds_datalake_get_metadata_P5')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/P6_copydata_last_24hrs')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "copying data of which are modified in last 24hrs",
				"activities": [
					{
						"name": "Get Metadata_folder_level",
						"description": "get the folder names in the blob",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Ds_getmetadata_folder_P6",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata_folder_level",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata_folder_level').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Get Metadata for files",
									"description": "to get the metadata of files ",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "Ds_getmetadata_file_level_P6",
											"type": "DatasetReference",
											"parameters": {
												"Ds_param_src_foldername": "contacts-data",
												"Ds_param_src_filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"lastModified",
											"itemName"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "If Condition",
									"description": "if condition to check the lastupdated time",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Get Metadata for files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greaterOrEquals(\n    activity('Get Metadata for files').output.lastModified,\n    addHours(utcNow(), -48)\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Copy data if true",
												"description": "copy the data if last modified condition is true",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_blob_copydata_lastmodified_P6",
														"type": "DatasetReference",
														"parameters": {
															"Ds_param_src_foldername": "contacts-data",
															"Ds_param_src_filename": {
																"value": "@activity('Get Metadata for files').output.itemName",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_datalake_copydata_lastmodified_P6",
														"type": "DatasetReference",
														"parameters": {
															"Ds_param_sink_foldername": "last-modfied-data"
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-13T01:49:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Ds_getmetadata_folder_P6')]",
				"[concat(variables('factoryId'), '/datasets/Ds_getmetadata_file_level_P6')]",
				"[concat(variables('factoryId'), '/datasets/DS_blob_copydata_lastmodified_P6')]",
				"[concat(variables('factoryId'), '/datasets/DS_datalake_copydata_lastmodified_P6')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/P7_delete _file_activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "to delete the old file in the source as new file get updated in daily basis",
				"activities": [
					{
						"name": "Delete file in source",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Ds_delete_activity",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "Ls_blob_indian_railways",
									"type": "LinkedServiceReference"
								},
								"path": "new-data"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"wildcardFileName": "*.txt",
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-01T02:28:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Ds_delete_activity')]",
				"[concat(variables('factoryId'), '/linkedServices/Ls_blob_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/P8_Copydata_blob_SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "copying data from blob storage to Azure SQL",
				"activities": [
					{
						"name": "Copy data blob-Azure sql",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ZoneId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "zone_id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Zone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "zone_name",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_blob_copy_blobtosql_P8",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Sql_P8",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-01T03:17:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_blob_copy_blobtosql_P8')]",
				"[concat(variables('factoryId'), '/datasets/DS_Azure_Sql_P8')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/P9_Event_based_trigger')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data based on event",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_blob_P9",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DL_Event_trigger_P9",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-01T03:43:38Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_blob_P9')]",
				"[concat(variables('factoryId'), '/datasets/DS_DL_Event_trigger_P9')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Azure_Sql_P8')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Azure_Sql_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "zone_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zone_name",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "zone_details"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Azure_Sql_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Azure_sql_P10')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Azure_Sql_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Azure_Sql_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Azuresql_P11')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Azure_Sql_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "emp_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "emp_name",
						"type": "varchar"
					},
					{
						"name": "emp_address",
						"type": "varchar"
					},
					{
						"name": "gender",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "emp"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Azure_Sql_Database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Blob_P11')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_blob_indian_railways",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "railways-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_blob_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Blob_Tumbling_trigger_P10')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_blob_indian_railways",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "train-mfg"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_blob_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Blob_dept_P12')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Blob_new",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "DEPT_Details.txt",
						"container": "train-data-new"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Dept_id",
						"type": "String"
					},
					{
						"name": "Dept_Name",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Blob_new')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Blob_emp_P12')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_blob_indian_railways",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "EMP_Details.txt",
						"container": "railways-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Emp_id",
						"type": "String"
					},
					{
						"name": "Emp_name",
						"type": "String"
					},
					{
						"name": "Emp_Dept_id",
						"type": "String"
					},
					{
						"name": "Emp_Salary",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_blob_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DL_Dataflow_joining_P12')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_indian_railways",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "mfg-details"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DL_Event_trigger_P9')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_indian_railways",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "railway-details"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DL_aggregate_P15')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_indian_railways",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "mfg-details"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DL_union_P13')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_indian_railways",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "total_sale_data",
						"fileSystem": "mfg-details"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Emp_id",
						"type": "String"
					},
					{
						"name": "Emp_name",
						"type": "String"
					},
					{
						"name": "Emp_Dept_id",
						"type": "String"
					},
					{
						"name": "Emp_Salary",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "Dept_id",
						"type": "String"
					},
					{
						"name": "Dept_Name",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_blob_P9')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_blob_indian_railways",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "railways-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_blob_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_blob_aggregate_P15')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_blob_indian_railways",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "employee details.csv",
						"container": "new-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "emp-id",
						"type": "String"
					},
					{
						"name": "emp-name",
						"type": "String"
					},
					{
						"name": "salary",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "email",
						"type": "String"
					},
					{
						"name": "phone",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_blob_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_blob_blr_unio_P13')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_blob_indian_railways",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "blr sale data.csv",
						"container": "railways-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "sales",
						"type": "String"
					},
					{
						"name": "profit",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_blob_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_blob_copy_blobtosql_P8')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_blob_indian_railways",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Zone details.csv",
						"container": "train-mfg"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "NO.Of trains",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_blob_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_blob_copydata_lastmodified_P6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_Blob_indian_railways_dynamic",
					"type": "LinkedServiceReference",
					"parameters": {
						"Blob_Name": "blobindianrailwaysnew",
						"Blob_Key_name": "KV-blob-indian-railways-new",
						"Secret_version": "91e2463185da493faa5ee3dbec1a21de"
					}
				},
				"parameters": {
					"Ds_param_src_foldername": {
						"type": "string"
					},
					"Ds_param_src_filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().Ds_param_src_filename",
							"type": "Expression"
						},
						"container": "contacts-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_Blob_indian_railways_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_blob_get_metadata_P5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_Blob_indian_railways_dynamic",
					"type": "LinkedServiceReference",
					"parameters": {
						"Blob_Name": "blobindianrailwaysnew",
						"Blob_Key_name": "KV-blob-indian-railways-new",
						"Secret_version": "91e2463185da493faa5ee3dbec1a21de"
					}
				},
				"parameters": {
					"src_foldername": {
						"type": "string",
						"defaultValue": "aaa"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Zone_Contact_details.csv",
						"container": {
							"value": "@dataset().src_foldername",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_Blob_indian_railways_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_blob_union_P13')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_blob_indian_railways",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "vskp sale data.csv",
						"container": "railways-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "sales",
						"type": "String"
					},
					{
						"name": "profit",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_blob_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_datalake_copydata_lastmodified_P6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_Datalake_indian_railways_dynamic",
					"type": "LinkedServiceReference",
					"parameters": {
						"Datalake_URL": "https://datalakeindiarailwaysnew.dfs.core.windows.net/",
						"Datalake_secret_name": "KV-datalake-indian-railways-new",
						"Secret_version": "12b582ba2b09486f821f1fa40eaa757e"
					}
				},
				"parameters": {
					"Ds_param_sink_foldername": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "last-modfied-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_Datalake_indian_railways_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_DL_copydata_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dataset for datalake for copydata activity dynamically",
				"linkedServiceName": {
					"referenceName": "Ls_Datalake_indian_railways_dynamic",
					"type": "LinkedServiceReference",
					"parameters": {
						"Datalake_URL": "https://datalakeindiarailwaysnew.dfs.core.windows.net/",
						"Datalake_secret_name": "KV-datalake-indian-railways-new",
						"Secret_version": "12b582ba2b09486f821f1fa40eaa757e"
					}
				},
				"parameters": {
					"Ds_sink_param_foldername": {
						"type": "string"
					},
					"Ds_sink_param_filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().Ds_sink_param_filename",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().Ds_sink_param_foldername",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_Datalake_indian_railways_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_DL_derived_P14')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_indian_railways",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "mfg-details"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "sales",
						"type": "String"
					},
					{
						"name": "profit",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_blob_copydata_P1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_blob_indian_railways",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "DEPT_Details.txt",
						"container": "railways-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Emp_id",
						"type": "String"
					},
					{
						"name": "Emp_name",
						"type": "String"
					},
					{
						"name": "Emp_Dept_id",
						"type": "String"
					},
					{
						"name": "Emp_Salary",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_blob_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_blob_copydata_dynamic_P4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dataset for blob storage for copy data dynamically",
				"linkedServiceName": {
					"referenceName": "Ls_Blob_indian_railways_dynamic",
					"type": "LinkedServiceReference",
					"parameters": {
						"Blob_Name": "blobindianrailwaysnew",
						"Blob_Key_name": "KV-blob-indian-railways-new",
						"Secret_version": "91e2463185da493faa5ee3dbec1a21de"
					}
				},
				"parameters": {
					"Ds_param_src_foldername": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "TRAIN_Details.txt",
						"container": {
							"value": "@dataset().Ds_param_src_foldername",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_Blob_indian_railways_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_blob_copydata_dynamically_P2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_blob_indian_railways",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Ds_Param_Folder_Name": {
						"type": "string",
						"defaultValue": "aaa"
					},
					"Ds_Param_File_Name": {
						"type": "string",
						"defaultValue": "bbbb"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().Ds_Param_File_Name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().Ds_Param_Folder_Name",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_blob_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_blob_derived_P14')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_blob_indian_railways",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "employee details.csv",
						"container": "railways-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "emp-id",
						"type": "String"
					},
					{
						"name": "emp-name",
						"type": "String"
					},
					{
						"name": "salary",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "email",
						"type": "String"
					},
					{
						"name": "phone",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_blob_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_copydata_blob_timestamp_P3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_blob_indian_railways",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Ds_src_param_Foldername": {
						"type": "string",
						"defaultValue": "aaa"
					},
					"Ds_src_param_Filename": {
						"type": "string",
						"defaultValue": "bbb.csv"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().Ds_src_param_Filename",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().Ds_src_param_Foldername",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_blob_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_copydata_datalake_timestamp_P3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dataset for datalake for P3 pipeline (timestamp)",
				"linkedServiceName": {
					"referenceName": "datalake_indian_railways",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Ds_DL_param_Foldername": {
						"type": "string",
						"defaultValue": "sss"
					},
					"Ds_DL_param_Filename": {
						"type": "string",
						"defaultValue": "ddd"
					},
					"Ds_DL_param_File_Extension": {
						"type": "string",
						"defaultValue": ".csv"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().Ds_DL_param_Filename,\n'-',\nutcNow(),\ndataset().Ds_DL_param_File_Extension)",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().Ds_DL_param_Foldername",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_datalake_copydata_P1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_indian_railways",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "railway-details"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_datalake_copydata_dynamically_P2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_indian_railways",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Ds_DL_Param_Folder_Name": {
						"type": "string",
						"defaultValue": "ssss"
					},
					"Ds_DL_Param_File_Name": {
						"type": "string",
						"defaultValue": "qqq"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().Ds_DL_Param_File_Name",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().Ds_DL_Param_Folder_Name",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_datalake_get_metadata_P5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_Datalake_indian_railways_dynamic",
					"type": "LinkedServiceReference",
					"parameters": {
						"Datalake_URL": "https://datalakeindiarailwaysnew.dfs.core.windows.net/",
						"Datalake_secret_name": "KV-datalake-indian-railways-new",
						"Secret_version": "12b582ba2b09486f821f1fa40eaa757e"
					}
				},
				"parameters": {
					"Ds_sink_foldername": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": {
							"value": "@dataset().Ds_sink_foldername",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_Datalake_indian_railways_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_delete_activity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_blob_indian_railways",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "railways-data"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_blob_indian_railways')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_getmetadata_file_level_P6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_Blob_indian_railways_dynamic",
					"type": "LinkedServiceReference",
					"parameters": {
						"Blob_Name": "blobindianrailwaysnew",
						"Blob_Key_name": "KV-blob-indian-railways-new",
						"Secret_version": "91e2463185da493faa5ee3dbec1a21de"
					}
				},
				"parameters": {
					"Ds_param_src_foldername": {
						"type": "string"
					},
					"Ds_param_src_filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().Ds_param_src_filename",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().Ds_param_src_foldername",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_Blob_indian_railways_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_getmetadata_folder_P6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_Blob_indian_railways_dynamic",
					"type": "LinkedServiceReference",
					"parameters": {
						"Blob_Name": "blobindianrailwaysnew",
						"Blob_Key_name": "KV-blob-indian-railways-new",
						"Secret_version": "91e2463185da493faa5ee3dbec1a21de"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "contacts-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_Blob_indian_railways_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Azure_Sql_Database')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service for azure sql database",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_Azure_Sql_Database_properties_typeProperties_server')]",
					"database": "[parameters('LS_Azure_Sql_Database_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_Azure_Sql_Database_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_Azure_Sql_Database_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Blob_new')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "linked service for new blob storage account",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_Blob_new_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_Blob_indian_railways_dynamic')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dynamic linked service for blob",
				"parameters": {
					"Blob_Name": {
						"type": "string",
						"defaultValue": "aaa"
					},
					"Blob_Key_name": {
						"type": "string",
						"defaultValue": "bbb"
					},
					"Secret_version": {
						"type": "string",
						"defaultValue": "ccc"
					}
				},
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('Ls_Blob_indian_railways_dynamic_connectionString')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "Ls_india_railways_KeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "@linkedService().Blob_Key_name",
							"type": "Expression"
						},
						"secretVersion": {
							"value": "@linkedService().Secret_version",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_india_railways_KeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_Datalake_indian_railways_dynamic')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dynamic Linked service for datalake ",
				"parameters": {
					"Datalake_URL": {
						"type": "string",
						"defaultValue": "aaa"
					},
					"Datalake_secret_name": {
						"type": "string",
						"defaultValue": "bbb"
					},
					"Secret_version": {
						"type": "string",
						"defaultValue": "dsse"
					}
				},
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Ls_Datalake_indian_railways_dynamic_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "Ls_india_railways_KeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "@linkedService().Datalake_secret_name",
							"type": "Expression"
						},
						"secretVersion": {
							"value": "@linkedService().Secret_version",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_india_railways_KeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_blob_indian_railways')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('Ls_blob_indian_railways_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_india_railways_KeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "linked service for keyvault",
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('Ls_india_railways_KeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/datalake_indian_railways')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('datalake_indian_railways_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('datalake_indian_railways_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Event_trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "P9_Event_based_trigger",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/railways-data/blobs/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('Event_trigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/P9_Event_based_trigger')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tumbling trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "P10_tumbling_trigger_coy_sql_blob",
						"type": "PipelineReference"
					},
					"parameters": {
						"PL_Startdate": "[parameters('tumbling trigger_properties_pipeline_parameters_PL_Startdate')]",
						"PL_Enddate": "[parameters('tumbling trigger_properties_pipeline_parameters_PL_Enddate')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2026-02-01T00:00:00Z",
					"endTime": "2026-02-03T23:59:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/P10_tumbling_trigger_coy_sql_blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Joining dataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "copy data by joining datasets",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Blob_emp_P12",
								"type": "DatasetReference"
							},
							"name": "empdata"
						},
						{
							"dataset": {
								"referenceName": "DS_Blob_dept_P12",
								"type": "DatasetReference"
							},
							"name": "Deptdata"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_DL_Dataflow_joining_P12",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "join1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Emp_id as string,",
						"          Emp_name as string,",
						"          Emp_Dept_id as string,",
						"          Emp_Salary as string,",
						"          Location as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> empdata",
						"source(output(",
						"          Dept_id as string,",
						"          Dept_Name as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Deptdata",
						"empdata, Deptdata join(Emp_Dept_id == Dept_id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Blob_emp_P12')]",
				"[concat(variables('factoryId'), '/datasets/DS_Blob_dept_P12')]",
				"[concat(variables('factoryId'), '/datasets/DS_DL_Dataflow_joining_P12')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow aggregate')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "store the data by applying aggregate functions",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_blob_aggregate_P15",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_DL_aggregate_P15",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {emp-id} as integer,",
						"          {emp-name} as string,",
						"          salary as integer,",
						"          city as string,",
						"          country as string,",
						"          email as string,",
						"          phone as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          {emp-id},",
						"          {emp-name},",
						"          salary,",
						"          city,",
						"          country",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 derive({emp-name} = iif(isNull({emp-name}), 'unknown', {emp-name})) ~> derivedColumn1",
						"derivedColumn1 aggregate(groupBy(country),",
						"     total_salary = sum(salary),",
						"          average_salary = avg(salary),",
						"          min_salary = min(salary),",
						"          max_salary = max(salary),",
						"          emp_count = count({emp-id})) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_blob_aggregate_P15')]",
				"[concat(variables('factoryId'), '/datasets/DS_DL_aggregate_P15')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/derived dataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Ds_blob_derived_P14",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Ds_DL_derived_P14",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {emp-id} as string,",
						"          {emp-name} as string,",
						"          salary as string,",
						"          city as string,",
						"          email as string,",
						"          phone as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"select1 derive({emp-name} = iif(isNull({emp-name}), 'unknown' , {emp-name}),",
						"          city = upper(city)) ~> derivedColumn1",
						"source1 select(mapColumn(",
						"          {emp-id},",
						"          {emp-name},",
						"          salary,",
						"          city",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          city as string,",
						"          sales as string,",
						"          profit as string,",
						"          month as string",
						"     ),",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Ds_blob_derived_P14')]",
				"[concat(variables('factoryId'), '/datasets/Ds_DL_derived_P14')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/filter_shorting')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "sql to blob with filter and sorting",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Azuresql_P11",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Blob_P11",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "filter1"
						},
						{
							"name": "sort1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          emp_id as integer,",
						"          emp_name as string,",
						"          emp_address as string,",
						"          gender as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 filter(gender == 'M') ~> filter1",
						"filter1 sort(asc(emp_id, true)) ~> sort1",
						"sort1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Azuresql_P11')]",
				"[concat(variables('factoryId'), '/datasets/DS_Blob_P11')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/union dataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "joining datasets with union all",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_blob_union_P13",
								"type": "DatasetReference"
							},
							"name": "vskpdata"
						},
						{
							"dataset": {
								"referenceName": "DS_blob_blr_unio_P13",
								"type": "DatasetReference"
							},
							"name": "blrdata"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_DL_union_P13",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "union1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          city as string,",
						"          sales as string,",
						"          profit as string,",
						"          month as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> vskpdata",
						"source(output(",
						"          city as string,",
						"          sales as string,",
						"          profit as string,",
						"          month as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> blrdata",
						"vskpdata, blrdata union(byName: true)~> union1",
						"union1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Emp_id as string,",
						"          Emp_name as string,",
						"          Emp_Dept_id as string,",
						"          Emp_Salary as string,",
						"          Location as string,",
						"          Dept_id as string,",
						"          Dept_Name as string",
						"     ),",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_blob_union_P13')]",
				"[concat(variables('factoryId'), '/datasets/DS_blob_blr_unio_P13')]",
				"[concat(variables('factoryId'), '/datasets/DS_DL_union_P13')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/self-hosted-IR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Self hosted integration runtime for on-prem sql server",
				"typeProperties": {
					"selfContainedInteractiveAuthoringEnabled": true
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Sql_server_on_prem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service for on pre, sql server",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_Sql_server_on_prem_properties_typeProperties_server')]",
					"database": "[parameters('LS_Sql_server_on_prem_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_Sql_server_on_prem_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_Sql_server_on_prem_password')]"
					}
				},
				"connectVia": {
					"referenceName": "self-hosted-IR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/self-hosted-IR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/01_Project_Data_migration')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Data migration project from onprem sql to Azure sql",
				"activities": [
					{
						"name": "On-perm_to_Azure_Sql",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "studentid",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "studentid",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "stdname",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "stdname",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "gender",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "gender",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "DOB",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DOB",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_on_prem_SQL",
								"type": "DatasetReference",
								"parameters": {
									"Sql_Table_name": {
										"value": "@pipeline().parameters.PP_Sql_table_name",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_sql_migration",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"PP_Sql_table_name": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_on_prem_SQL')]",
				"[concat(variables('factoryId'), '/datasets/DS_Azure_sql_migration')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_on_prem_SQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Sql_server_on_prem",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Sql_Table_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"table": {
						"value": "@dataset().Sql_Table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Sql_server_on_prem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Azure_sql_migration')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Azure_Sql_Database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "studentid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "stdname",
						"type": "varchar"
					},
					{
						"name": "gender",
						"type": "char"
					},
					{
						"name": "DOB",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "student"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Azure_Sql_Database')]"
			]
		}
	]
}